<!-- create what the comments will look like or how they will be structured -->

<div class="comment clearfix">
  <!-- in each comment there will be content, body, time -->
  <div class="comment_content">
    <!-- looping through each comment for comment.name comment.body and comment.created_at -->
    <p class="comment_name"><strong><%= comment.name %></strong></p>
    <p class="comment_body"><%= comment.body %></p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago </p>
  </div>
  <!-- add ability to delete comment in comment but not content -->
  <p>
    <%= link_to 'Delete', [comment.post, comment],
                method: :delete,
                class: "button",
                data: {confirm: 'Are you sure?'} %> 
  </p>
</div>
