<div id="page_wrapper">
  <div id="profile_image">
    <!-- if you had an image this is where it would go -->
    <!-- erb tag= image_tag "profileimage.jpg" erb tag -->
  </div>

  <div id="content">
    <h1> Hey, I'm Stephanie </h1>
    <h2> Junior Web Developer </h2>
    <p>
      This is my rails blog cheatsheet. I'm currently learning Ruby on Rails and found a handy tutorial online that explained everything so well! In the README file you will find my step by step guide walking you through this project from start to finish. In each file I included pseudo code to explain each line of code (well, almost every line). My goal was to explain everything in a way I would understand it later if I had to build another blog. Hopefully you will find this helpful as well! Happy blogging!
    </p>
  </div>
</div>