<!-- page wrapper so can allow for styling -->
<div id="page_wrapper">
  <!-- heading for new posts -->
  <h1>Edit Post</h1>
  <!-- the form itself will be grabbed here -->
  <%= render 'form' %>

</div>

